body {
  margin: 0;
  padding: 0;
}

.wrap {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(-5deg, papayawhip -10%, palevioletred 130%);
  position: fixed;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}
h1,
h3 {
  font-family: "Indie Flower", cursive;
  color: rgb(175, 41, 86);
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
h1 {
  color: rgb(141, 24, 63);
  margin: 0;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  font-size: 4rem;
}
h3 span {
  color: rgb(88, 7, 34);
}
h3 {
  top: 90px;
}
canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}
.controlLabel {
  top: initial;
  bottom: 50px;
  z-index: 0;
}
.controls {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 15px;
  width: 100%;
  z-index: 10;
}
.mobile {
  bottom: 90px;
}
.mobile ~ .controlLabel {
  padding-bottom: 40px;
}
button {
  appearance: none;
  background-color: transparent;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  border: 0px solid palevioletred;
  height: 50px;
  width: auto;
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.7) 0 2px 4px;
  transition: text-shadow 200ms ease-in-out, font-size 200ms ease-in-out;
}
button:hover {
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.6) 0 5px 6px;
  font-size: 35px;
}
